MONGODB_URI=mongodb://localhost:27017/mtg-tools

# Authentication
# Pour le développement, utilisez "CONSOLE" pour afficher l'OTP dans la console
# En production, utilisez votre clé API Resend
RESEND_API_KEY=CONSOLE
# EMAIL_FROM=noreply@votre-domaine.com
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000
# Discord OAUTH
DISCORD_CLIENT_ID=your-discord-client-id-here
DISCORD_CLIENT_SECRET=your-discord-client-secret-here

# OpenAI pour le Deck Checker
OPENAI_API_KEY=your-openai-api-key-here

# Admin
ADMIN_EMAIL=contact@joutes.app
ADMIN_EMAILS="[\"contact@joutes.app\"]"